# Dependencies
node_modules
pnpm-lock.yaml

# Build output
lib
build

# Cache
.cache

# Coverage
coverage

# Logs
*.log

# Temp files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea

# Git
.git

# Documentation build
docs